<div class="login-signup-width">
  <!-- <div class="ui dividing header"> -->
    <h2 class="ui center aligned header">Log in</h2>
  <!-- </div> -->
  <%= form_for(resource, :html=>{:class=>"ui fluid form segment"} as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <div class="ui small icon input">
        <i class="user icon"></i>
        <%= f.email_field :email, autofocus: true, :class=> "required field"%>
      </div>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <div class="ui small icon input">
        <i class="lock icon"></i>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="inline field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", :class=>"ui blue small submit button" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>

<script>
  // $(document).ready(function(){
  //   $('.new_user').addClass("ui fluid form segment");
  // });
</script>